@inherits LayoutComponentBase

@using CardGames.Poker.Web.Components.Shared
@using BlazorBlueprint.Primitives.Services

<JoinApprovalHost @rendermode="InteractiveServer" />

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss"><i class="fa-thin fa-circle-x"></i></span>
</div>
<BlazorBlueprint.Primitives.Services.BbPortalHost />