@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<AccountShell Title="Access denied" Subtitle="You do not have access to this resource.">
    <p class="auth-footer">
        <a href="/">Back to home</a>
    </p>
</AccountShell>
