@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<AccountShell Title="Invalid user" Subtitle="We couldn't load your account.">
    <StatusMessage />
    <p class="auth-footer"><a href="/Account/Login">Back to login</a></p>
</AccountShell>
