@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<AccountShell Title="Locked out" Subtitle="This account has been locked out. Please try again later.">
    <p class="auth-footer">
        <a href="/Account/Login">Back to login</a>
    </p>
</AccountShell>
