@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<AccountShell Title="Password reset" Subtitle="You're ready to log back in.">
    <p class="auth-footer" role="alert">
        Your password has been reset. Please <a href="/Account/Login">log in</a>.
    </p>
</AccountShell>
