@using static CardGames.Poker.Web.Components.Pages.TablePlay

@if (Messages.Count > 0)
{
    <div class="toast-container">
        @foreach (var toast in Messages)
        {
            <div class="toast-notification @toast.Type">
                <span class="toast-message">@toast.Message</span>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public IReadOnlyList<ToastMessage> Messages { get; set; } = [];
}
